<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jaaaelu.gzw.animapp">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".anim.AnimationByXmlActivity"/>
        <activity android:name=".anim.AnimationByCodeActivity"/>
        <activity android:name=".anim.AnimationFlyActivity"/>
        <activity android:name=".anim.AnimationListActivity"/>
        <activity android:name=".anim.AnimationInterpolatorActivity"/>
        <activity android:name=".anim.AnimationFrameActivity"/>
        <activity android:name=".animator.AnimatorListActivity"/>
        <activity android:name=".animator.AnimatorByCodeActivity"/>
        <activity android:name=".animator.AnimatorSetActivity"/>
        <activity android:name=".animator.AnimatorOtherActivity">
        </activity>
        <activity android:name=".SnackbarTestActivity">
        </activity>
        <activity android:name=".animator.AnimatorLayoutActivity">
        </activity>
    </application>

</manifest>